In [ ]:
# Varaiables are used to store the information for reusage purpose of a value

a = 100  # here 'a' is variable

In [1]:
# Varaiables declaration

age = 32
height = 5.8
name = 'Ravi'
is_student = True

# printing statments using variables

print('age : ', age)
print('height : ', height)
print('name : ', name)

age :  32
height :  5.8
name :  Ravi

In [2]:
# Naming Conventions 

# variables names should be descriptive
# they must start with a letter or an underscore and con contain letters, numbers and underscores
# variables names are case sensitive

# valid varaibles names
first_name = "krmn"
last_name = "nmrk"

In [3]:
# Invalid variable names

# 2age
# first-name

In [6]:
# Variable Types

# Python is dynamically typed. type of variable is determined at runtime

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [7]:
# Type conversion

age = 24

age_str = str(age)
print(age, age_str)

24 24

In [8]:
print(type(age), type(age_str))

<class 'int'> <class 'str'>

In [9]:
age = '25'
print(type(age))

<class 'str'>

In [10]:
age_int = int(age)
print(age_int, type(age_int))

25 <class 'int'>

In [11]:
# Dynamic Typing

var = 'Hello'
print(var, type(var))

Hello <class 'str'>

In [12]:
var = 24
print(var, type(var))

var = 2.0
print(var, type(var))

24 <class 'int'>
2.0 <class 'float'>

In [15]:
num1 = float(input("Enter first number : "))
print("First Number is ", num1)
num2 = float(input("Enter second number : "))
print("Second Number is ", num2)

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum : ", sum)
print("Difference : ", difference)
print("Product", product)
print("Quotient", quotient)

First Number is  6.0
Second Number is  4.0
Sum :  10.0
Difference :  2.0
Product 24.0
Quotient 1.5